@import 'bootstrap/dist/css/bootstrap.min.css';

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Space Mono', monospace;
}

/* Generals */

:root {
    --header-mobile-height: 9vh;
    --header-desktop-height: 10vh;
}

.header_main_div {
    height: var(--header-mobile-height);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* SIGN UP */

.signup_main_div {
    height: calc(100vh - var(--header-mobile-height));
    width: 100%;
    display: flex;
    flex-flow: row;
}

.sign_up_content_div {
    width: 100%;
    display: flex;
    flex-flow: column;
    align-items: center;
}

.signup_forms_element {
    width: 90%;
    border: 1px solid black;
    margin-top: 5vh;
    padding: 25px 15px;
    border-radius: 5px;
    background-color: rgb(200, 200, 200);
}

.signup_content_wrapper {
    display: flex;
    flex-flow: column;
    align-items: center;
}

.signup_forms_header {
    width: 100%;
    text-align: center;
}

.signup_inputs {
    padding: 5px 12px;
    margin-top: 12px;
    border-radius: 5px;
    border: none;
}

.signup_toggle {
    width: 90%;
    text-align: center;
}

/* HOME */

.home_main_div {
    width: 100%;
    display: flex;
    flex-flow: column;
    justify-content: space-around;
    align-items: center;
}

.home_auth_message {
    margin-top: 10px;
    width: 80%;
    padding: 10px 15px;
    border-radius: 10px;
    border: 2px solid white;
    margin-bottom: 15px;
}

.homepage_content_div {
    width: 100%;
    display: flex;
    justify-content: center;
}

/* WORKOUT */

.workout_content_div {
    width: 90%;
}

.each_workout_card {
    background-color: white;
    padding: 5px 10px;
    border-radius: 10px;
    box-shadow: 7px 10px rgb(50, 50, 50);
}

.each_workout_mod {
    padding: 10px 0px;
    border-top: 1px solid gray;
    display: flex;
    flex-flow: row;
    justify-content: space-around;
}

@media (min-width: 801px) {

    .header_main_div {
        height: var(--header-desktop-height);
    }

    .signup_banner_div {
        width: 40%;
        flex-flow: row;
        justify-content: end;
        align-items: center;
    }

    .banner_element {
        margin-right: 20px;
    }

    .sign_up_content_div {
        border-left: 1px solid white;
        width: 60%;
        justify-content: center;
        align-items: start;
    }

    .signup_content_wrapper {
        margin-left: 10px;
        width: 70%;
        margin-bottom: var(--header-desktop-height);
    }

}